@media screen and (max-width: 560px) {
    body {
        background-image: none;
        background: linear-gradient(to bottom, #2b3296, #3c69bb, #49b3e4);
    }   

    .main {
        height: 100%;
    }

    .main__container {
        border-radius: 0px;
        height: 100vh;
        padding: 0px 20px 0px 20px;
    }

    .main__input {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .input {
        width: auto;
    }

    .input-button {
        width: 100%;
    }
}